<app-header></app-header>
<div class="row main-row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-6">
                <h3>Chat Right now</h3>
                <p>Our messaging assistant can quickly solve many issues or direct you to the right person or place.</p>
                <br>
                <strong>Instant chat and always available.</strong><br>
                <button class="btn btn-primary" type="button">Start Chatting</button>
            </div>
            <div class="col-md-6">
                <h3>Have us call you</h3>
                <p>We'll first get a few details about your issue and then someone will call you right away.</p><br><br>
                <button class="btn btn-primary" type="button">Call me</button>
            </div>
        </div>
    </div>
</div>
