<app-header></app-header>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <img [src]="movieDetail.poster" class="img-responsive">
    </div>

    <div class="col-xs-12 col-md-8">
        <h2>{{ movieDetail.moviename }}</h2>
        <p><span>Movie Type</span> : {{ movieDetail.movieType }}</p>
        <p><span>Language</span> : {{ movieDetail.language }}</p>
        <p><span>Cast</span> : {{ movieDetail.cast1 }}, {{ movieDetail.cast2 }}</p>
        <p><span>Production</span> : {{ movieDetail.productionname }}</p>
        <p><span>Director</span> : {{ movieDetail.director }}</p>
        <button type="button" class="btn btn-primary" (click)="onAddToCart(movieId)">
            <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
        </button>
    </div>
</div>